target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### .env file ##
.env 
/prisma-service/.env
/prisma-service/node_modules/
/prisma-service/dist/
/prisma-service/build/
/prisma-service/.turbo/
/prisma-service/.next/
/prisma-service/out/
/prisma-service/.vercel/
/prisma-service/vercel-build/
/prisma-service/.expo/

### Node.js ###
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
pnpm-debug.log
dist/
build/
.next/
out/    
.env.local
.env.development.local
.env.test.local
.env.production.local       
.vscode/
.cache/
.webstorm/
.idea/
*.log
*.tsbuildinfo
turbo-output/
!.turbo/cache/.gitkeep
!.expo/cache/.gitkeep
.expo/
.expo-shared/
.history/
.cache/
.webstorm/
.idea/
*.log
.mvn
.idea
!.mvn/wrapper/maven-wrapper.jar
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin
.gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
out/
dist/
coverage/
reports/
logs/
*.class
*.jar
*.war
*.ear
hs_err_pid*.log
replay_pid*.log
.dump
*.hprof     